@charset "utf-8";

/* css common */

html {
    overflow: auto;
}

.html-hide {
    overflow: hidden;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.el-menu {
    border: none !important;
}

ul li {
    list-style-type: none;
}

div,
p {
    word-break: break-all;
}

.el-button:focus,
.el-button:active {
    outline: 0;
    border: 0px;
}

body {
    color: #000;
    position: relative;
    font-size: 1rem;
    /* overflow-y: hidden; */
    /* font-family: "微软雅黑"; */
    font-family: MicrosoftYaHei !important;
    /* -moz-user-select: none; user-select: none;  */
    height: auto;
    overflow-x: hidden;
    line-height: 1;
    /* overflow-y: scroll; */
    /*overflow:hidden;*/

}
textarea {
    font-family: MicrosoftYaHei !important;
}
/* body,html{
    height:100%;
} */
.flex {
    display: flex;
}

.f-jc-sb {
    justify-content: space-between;
}

.f-jc-sa {
    justify-content: space-around;
}

.f-jc-se {
    justify-content: space-evenly;
}

.f-jc-c {
    justify-content: center;
}

.f-ai-c {
    align-items: center;
}

.f-ai-fs {
    align-items: flex-start;
}

.f-d-c {
    flex-direction: column;
}
.d-ib { display: inline-block; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.cp { cursor: pointer; }
.fs16 { font-size: 16px; }
.fs14 { font-size: 14px; }
.fs13 { font-size: 13px; }
.opt-icon-right {
    position: absolute;
    right: 30px;
}

.cancleblue {
    -moz-user-select: none;
    /*mozilar*/
    -webkit-user-select: none;
    /*webkit*/
    -ms-user-select: none;
    /*IE*/
    user-select: none;
}

.core-func-container {
    width: 946px;
    margin-left: 263px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #cdcdcd;
}

a:hover {
    /* color: #1e1e1e; */
    text-decoration: none;
}

.allContent {
    margin: 0 auto;
    width: 1200px;
}

.allContentPhone {
    margin: 0 auto;

}

.el-step__head.is-finish {
    color: #357CFF !important;
    border-color: #357CFF !important;
}

.backC {
    background: #F3F3F4;
    padding: 15px;
}

.popcontent {}

.popImgZone {
    width: 194px;
    margin: 22px;
    height: 194px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.popImgZone img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popImgZone1 {
    width: 167px;
    margin: 15px;
    height: 167px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}

.popImgZone1 img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.el-popper.popClass {
    padding: 0px;
    border: 2px solid #cdcdcd;
    border-radius: 8px 8px 8px 0px 0px 0px 0px 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}

.el-popper[x-placement^=top].popClass .popper__arrow {
    border-top-color: #cdcdcd;
}

.popClass p,
.popClass1 p {
    font-size: 14px;
    font-weight: 400;
    padding: 0 23px;
    text-align: left;
    margin-bottom: 10px;
    color: #333333;
}

.popClass1 p {
    font-size: 13px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.el-popover {
    padding: 0 !important;
}

.delPop {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #ef6363;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #eeeeee;
}

.delPop:hover {
    color: #ce5a5a;
}

.needAuth {
    border-top: 1px solid #eeeeee;
    padding: 10px 23px;
    font-size: 14px;
    font-weight: 400;
    color: #357cff;
}

.switchFlag {
    float: right;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background: #ffffff !important;
    color: #357CFF !important;
}

.el-dropdown-menu {
    padding: 0 10px !important;
}

.el-dropdown-menu__item {
    padding: 0px 10px !important;
    line-height: 53px !important;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.titleAll {
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
    line-height: 45px;
    background: rgba(59, 130, 255, 0.05);
}

.swiper-container {
    width: 100%;
    margin-top: 15px;
    height: 80px;
    float: left;
    overflow: hidden;
}

.swiper-slide {
    width: 80px !important;
    margin-right: 15px !important;
    height: 80px;
}

.swiper-container .chooseImage {
    height: 80px;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
    width: 80px;
}

.actiondiv {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eeeeee;
}

.actiondiv .delPop {
    border: 0px
}

.noData {
    height: 250px;
    line-height: 250px;
    text-align: center;
    padding: 0px;
    font-size: 12px;
    color: #cdcdcd;
}
/* 新的空空如也 */
.noData-new {
    padding: 170px 0;
    text-align: center;
}

.noData-new img {
    width: 120px;
    height: 140px;
}

.noData-new p {
    margin-top: 20px;
    color: #999999;
    font-size: 14px;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background: #ffffff !important;
}

.el-autocomplete-suggestion {
    max-height: 200px !important;
    overflow: auto !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #357cff !important;
    ;
    border-color: #357cff !important;
    ;
}

.vue-waterfall {

    overflow: hidden !important;

}

.el-step__title.is-finish {
    color: #357cff !important;
}

@media (min-width:1024px) {

    .dHeadItem:hover,
    .secAddress:hover {
        border: 2px solid #357cff !important;
    }

    .el-step__icon.is-text {
        border: 3px solid !important;
    }

    .el-step.is-horizontal .el-step__line {
        height: 3px !important;
    }

    .changeSetp .el-step__icon.is-text {
        border: 6px solid !important;
    }
}

.el-switch.is-checked .el-switch__core {
    border-color: #357cff !important;
    background-color: #357cff !important;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #357cff !important;
}

@media (max-width:750px) {
    .needAuth {
        padding: 10px 15px;
    }

    .authProductTop .el-input.is-disabled .el-input__inner {
        background: #ffffff;
        color: #000;
    }

    .el-message-box {
        width: 345px !important;
    }

    .el-message-box__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .el-form-item__error {
        right: 0 !important;
        text-align: right !important;
        z-index: 9;
    }

    .changeSetp .el-step__icon.is-text {
        border: 3px solid !important;
    }

    .showdaw {
        width: 100%;
        height: 20px;
        background: #F3F3F4;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important
}